@font-face {
    font-family: 'Ailerons';
    src: url('../fonts/aileronsRegular/ailerons-webfont.eot');
    src: url('../fonts/aileronsRegular/ailerons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileronsRegular/ailerons-webfont.woff2') format('woff2'),
         url('../fonts/aileronsRegular/ailerons-webfont.woff') format('woff'),
         url('../fonts/aileronsRegular/ailerons-webfont.ttf') format('truetype'),
         url('../fonts/aileronsRegular/ailerons-webfont.svg#aileronsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Madrasextra Light';
    src: url('../fonts/madras/madrasextralight-webfont.eot');
    src: url('../fonts/madras/madrasextralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/madras/madrasextralight-webfont.woff2') format('woff2'),
         url('../fonts/madras/madrasextralight-webfont.woff') format('woff'),
         url('../fonts/madras/madrasextralight-webfont.ttf') format('truetype'),
         url('../fonts/madras/madrasextralight-webfont.svg#madrasextra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #111;
	color: #fff;
	font: 1.2em/1em 'Madrasextra Light', Arial, sans-serif;
}

#main-header {
	font: 4em 'Ailerons', Arial, sans-serif;
	padding: 0;
	cursor: default;
}

@media screen and (max-width: 1024px) {
  #main-header {
    font-size: 3em;
    line-height: 200%;
  }
}

#main-header span {
	visibility: hidden;
	margin-right: 25px;
}

#main-header span:hover {
	color: #d2000f;
}

#main-header span:last-child {
	margin: 0;
}

#by-author {
	visibility: hidden;
	letter-spacing: 1px;
}

.space-container {
	width: 100%;
	position: relative;
}

#letters-block {
	position: absolute;
	top: 40%;
	left: 30%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 40%;
	background-image: url(../img/bgTransparent.png);
	border: 2px solid #fff;
	z-index: 1;
	text-align: center;
	overflow: hidden;
	display: none;
}

#hr-header, #hr-header-last {
	position: absolute;
	width: 70%;
	left: 15%;
	border-top: 1px solid #fff;
	border-bottom: none;
	z-index: 1;
	display: none;
}

#canvas-app {
	display: block;
	background-color: #111;
}

.header-letter {
	display: inline-block;
}

#footer-hint-wrapper {
	position: absolute;
	bottom: 40px;
	left: 150px;
	font: 18px 'Courier New', monospace;
}

.footer-hint-star {
	position: absolute;
	left: -30px;
}

@media screen and (max-width: 1024px) {
  #footer-hint-wrapper  {
    bottom: 10px;
  	left: 30px;
  }

  .footer-hint-star {
  	left: -10px;
  }
}

/* ------------ Animation ----------- */

@-webkit-keyframes rotateLetter {
	0% {
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
  	transform: rotateY(90deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
}

@-moz-keyframes rotateLetter {
	0% {
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
  	transform: rotateY(90deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
}

@keyframes rotateLetter {
	0% {
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
  	transform: rotateY(90deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
}

@-webkit-keyframes letters-block-container-widener {
	0% {
		width: 0%;
		left: 50%;
	}

	100% {
		width: 40%;
		left: 30%;
	}
}

@-moz-keyframes letters-block-container-widener {
	0% {
		width: 0%;
		left: 50%;
	}

	100% {
		width: 40%;
		left: 30%;
	}
}

@keyframes letters-block-container-widener {
	0% {
		width: 0%;
		left: 50%;
	}

	100% {
		width: 40%;
		left: 30%;
	}
}

@-webkit-keyframes top-line-expander {
	0% { top: 45%; }
	100% { top: 20%; }
}

@-moz-keyframes top-line-expander {
	0% { top: 45%; }
	100% { top: 20%; }
}

@keyframes top-line-expander {
	0% { top: 45%; }
	100% { top: 20%; }
}

@-webkit-keyframes bottom-line-expander {
	0% { bottom: 45%; }
	100% { bottom: 20%; }
}

@-moz-keyframes bottom-line-expander {
	0% { bottom: 45%; }
	100% { bottom: 20%; }
}

@keyframes bottom-line-expander {
	0% { bottom: 45%; }
	100% { bottom: 20%; }
}

@-webkit-keyframes author-animation {
	0% { margin-top: 300px; }
	100% { margin-top: -20px; }
}

@-moz-keyframes author-animation {
	0% { margin-top: 300px; }
	100% { margin-top: -20px; }
}

@keyframes author-animation {
	0% { margin-top: 300px; }
	100% { margin-top: -20px; }
}



.rotate-letter {
	animation: rotateLetter .6s ease 1;
}

.letters-block-animation {
	animation: letters-block-container-widener 0.8s ease 1;
}

.hr-header-expand {
	top: 20%;
	animation: top-line-expander 0.5s ease 1;
}

.hr-header-last-expand {
	bottom: 20%;
	animation: bottom-line-expander 0.5s ease 1;
}

.by-author-animation {
	animation: author-animation 1.5s linear 1;
}
